<div id="flight-form">
<h2>Passenger Information Details</h2>

<div>
  <h3>Travel Class: {{pax.travelClass}}</h3>
  <h3>Seat Number: {{pax.seatNumber}}</h3>
  <h3>Notes: {{pax.notes}}</h3>
</div>

<button style="border-radius: 8px; padding: 5px;"><a href="/pax/update/{{pax._id}}" style="text-decoration: none; font-family:Arial, Helvetica, sans-serif; color:grey">Edit passenger information</a></button>
<button style="border-radius: 8px; padding: 5px;"><a href="/flight/myflight" style="text-decoration: none; font-family:Arial, Helvetica, sans-serif; color:grey">Save to my flights</a></button>
<br>
<br>
<button style="border-radius: 8px; padding: 5px;"><a href="/pax/deletepax/{{flightId}}/{{userId}}/{{pax._id}}" style="text-decoration: none; font-family:Arial, Helvetica, sans-serif; color:grey">Delete passenger information</a></button>

</div>