<h2> Flight Details </h2>

<div>
  <h3>Flight Number: {{flight.flightNumber}}</h3>
  <h3>Airline: {{flight.airline}}</h3>
  <h3>Type of Aircraft: {{flight.aircraftType}}</h3>
  <h3>Tail Number: {{flight.tailNumber}}</h3>
  <h3>Flight Duration: {{flight.flightDuration}}</h3>
{{!-- <p>{{flight._id}}/{{urlId}}</p> --}}
  <button><a href="/pax/data/{{flight._id}}">Continue to Passenger Details</a></button>
  <button><a href="/flight/update/{{flight._id}}">Edit Flight Data</a></button>
  <button><a href="/flight/deleteflight/{{urlId}}/{{flight._id}}">Delete This Flight!</a></button>

  <br>