<h2>My Flights</h2>

<h2>{{currentUser.username}} Flights</h2>
<div class="flight__list">
  {{#if travelData}}

  {{#each travelData}}
  {{#if departureAirport}}
  <p>{{departureAirport}} to {{arrivalAirport}}</p>
  <p>{{departureDate}} to {{arrivalDate}}</p>
  <a href="/travel/details/{{_id}}">Edit</a>
  <a href="/flight/deletetraveldata/{{_id}}">Delete</a>

  {{/if}}
  {{/each}}

  {{else}}
  <h3>You have no flights entered</h3>
  {{/if}}
</div>